* {
    padding: 0;
    margin: 0;
}
canvas {
    display: block;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    background: url("resources/background.png");
    margin:0 auto;
}
#output{
    text-align: center;
    margin-top: 30px;
}